<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Auction</title>
    <base href="/"/>
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="resources/css/portfolio.css" rel="stylesheet">
</head>
<body ng-app="auction">
<div class="container">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Auction Service</a>
        </div>
        <div class="navbar-collapse">
            <a class="btn btn-default navbar-btn" href="/">Auctions</a>
            <a class="btn btn-default navbar-btn" href="/orders" data-restrict access='ADMIN'>Orders</a>
            <a class="btn btn-default navbar-btn navbar-right logout" href="logout" target="_self" ng-click="logout()">
                <span class="glyphicon glyphicon glyphicon-off"></span>
            </a>
        </div>
    </nav>
    <div id="main-content">
        <div ng-view>
        </div>

    </div>
    <script type="text/ng-template" id="tradeModal.html">
        <form class="form-horizontal">
            <div class="modal-header">
                <h4 class="modal-title">{{ title }}</h4>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label">Price</label>
                    <div class="controls">
                        <input type="number" step="0.1" min="0" ng-model="quote.price">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Quantity</label>
                    <div class="controls">
                        <input type="number" step="1" min="0" ng-model="quote.qty" ng-disabled="quote.type == 'BID'">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Close</button>
                <button type="button" class="btn btn-primary" ng-click="trade()">Trade</button>
            </div>
        </form>
    </script>

    <!-- 3rd party -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.1/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.1/ui-bootstrap-tpls.min.js"></script>

    <!-- application -->
    <script src="resources/js/app.js"></script>
    <script src="resources/js/controllers.js"></script>
    <script src="resources/js/services.js"></script>

</body>
</html>
