<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NEW PRODUCT</title>
</head>
<body>
<table class="table table-striped">
    <thead>
    <th>NEW PRODUCT</th>
    </thead>
    <tbody>
    <tr>
        <td>Product name:</td>
        <td><input ng-model="productName"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Property:</td>
        <td><input ng-model="propertyName"></td>
        <td>Value:</td>
        <td><input ng-model="propertyName"></td>
    </tr>
    <tr>
        <td>
        </td>
        <td colspan="2">
            <a class="btn btn-default navbar-btn" ng-click="">Create product</a>
        </td>
        <td>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>