<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NEW PRODUCT</title>
</head>
<body>
<table class="table table-striped">
    <thead>
    <th>NEW PRODUCT</th>
    </thead>
    <tbody>
    <tr>
        <td>Product name:</td>
        <td><input ng-model="productName"></td>
        <td></td>
        <td></td>
    </tr>
    <tr ng-repeat="key in propertyCount">
        <td>Property:</td>
        <td>{{key}}</td>
        <td>Value:</td>
        <td>{{product.properties[key]}}</td>
    </tr>
    <tr>
        <td>Property:</td>
        <td><input ng-model="propertyName"></td>
        <td>Value:</td>
        <td><input ng-model="propertyValue"></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <a class="btn btn-default" ng-click="addProperty()">Add a new property</a>
        </td>
        <td>
            <a class="btn btn-default" ng-click="createProduct()">Create product</a>
        </td>
        <td></td>
    </tr>
    </tbody>
</table>
</body>
</html>